*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{background-color: lightgrey;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 5px;
    height: 50px;
}

#body{
margin: 0 auto;
width: 70%;
}

.bodyLeft{
    flex: 2;
    height: 87vh;
}

.formFactor{
    margin: 0 auto;
    width: 70%;
}

.leftC{
    width: 70%;
}

form{
    width: 100%;
}

.orderText{
    width: 400px;
    margin: 30px 0;
}

.upperBL{
    flex: 1;
}

.lowerBL{
    flex: 1;
}

.bodyRight{
    flex: 1;
}

.infoBoxes{
    max-height: 30px;
    width: 300px;
}

.rightBox{
    background-color: rgb(152, 89, 253);
    width: 70%;
    margin: 0 auto;
    padding:  30px;
    height: 700px;
}

/* .info{
    display: flex;
    flex-direction: column;
} */

.fBody{
    width: 100%;
}