<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Dojo Fruit Store</title>
</head>

<body>
    <header>
        <h4>Fruit Selection</h4>
    </header>
        <div id="body" class='fBody'>
            <div class="strawberryInfo">
                <img src="/static/img/strawberry.png" alt=" Strawberry">
                <p>Strawberry</p>
                <div class="raspberryInfo">
                    <img src="/static/img/raspberry.png" alt="Raspberry">
                    <p>Raspberry</p>
                </div>
                <div class="appleInfo">
                    <img src="/static/img/apple.png" alt="Apple" width='105px' height='108px'>
                    <p>Apple</p>
                </div>
            </div>
        </div>
</body>

</html>